.typing {
	position: relative;
}

.typing__field {
	display: flex;
	flex-wrap: wrap;

	width: 1180px;

  font-family: 'JetBrainsMono-medium';
	font-size: 28px;
	letter-spacing: 2px;
}

.typing_caretka {
	position: absolute;
	left: 9.5px;
	top: 0;

	width: 16px;
	height: 3px;
	margin-top: 37px;
	border-radius: 12px;

	background-color: white;
	transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.word {
	min-width: 19px;
	height: 43px;
	margin-left: 9.6px;
	margin-right: 9.6px;
}

.active {
	color: $grey;
}