.task {
  height: 133px;
  display: flex;
  gap: 10px;
}

.task__container {
  width: 594px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.task__textForTranslation {
  display: flex;
  align-items: end;

  font-family: 'JetBrainsMono-regular';
  font-size: 20px;
  color: $grey-30;

  width: 594px;
  height: 104px;
}

.task__buttons {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.task__button {
  width: 18px;
  height: 18px;
}
